* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgb(59,133,234);
  background: linear-gradient(0deg, rgba(59,133,234,1) 0%, rgba(97,193,248,1) 100%);
}
.holder {
  width: 90%;
  margin: auto;
  background: rgb(240,242,245);
  background: linear-gradient(0deg, rgba(240,242,245,1) 0%, rgba(254,254,254,1) 100%);
  border-radius: 1rem;

  margin-bottom: 8rem
}

@import 'header';
@import 'output';
@import 'animations';


#add {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 2rem;
  z-index: 1;

  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  // text-align: center;
  font-size: 3rem;
  color: #ffffff;
  background-color: #6dc0fcfb;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #58b9fffb;
    box-shadow: 0 0 10px 9px #0000001c;
  }
}

// Tar bort så man inte kan klicka på font awesome
.fas {
  pointer-events: none;
}

#form-holder {
  width: 18rem;
  height: 11rem;
  background-color: rgb(224, 224, 224);
  // border: 1px solid lightgray;
  border-radius: 0.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 8.2rem;

  form {
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    #error-message {
      color: red;
    }
    input {
      padding: 0.4rem 1.5rem;
      border: 1px solid transparent;
      border-radius: 0.7rem;
      text-align: center;
    }
    button {
      padding: 0.3rem 1rem;
      background-color: #36D6B1;
      border: 1px solid transparent;
      border-radius: 0.6rem;
      color: #ffffff;
      &:hover {
        background-color: rgb(159, 199, 212);
        box-shadow: 0 0 6px 5px #0000001c;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
.d-block {
  display: block;
}
.title {
  font-size: 0.9rem;
  max-width: 20ch;
}

.text-decoration {
  text-decoration: line-through;
}

// .card {
//   margin-bottom: 100px;
// }

@media (min-width: 720px) {
  .holder {
    width: 70%;
  }
  .title {
    font-size: 1.2rem;
    max-width: 35ch;
  }
  
  
}

@media (min-width: 1200px) {
  .holder {
    width: 50%;
  }
  .title {
    font-size: 1.4rem;
    max-width: 30ch;
  }
  
  
}